$bdDarkgrey: #404040;
$bgLightgrey: #4e4e4e;
$bgMenuTaup: #826550;
$bgHumburger: #6a4d38;
$bgNews:  #f8f5f2;
$bgWhite: #ffffff;
$bgLightBlack: #242424;
$bgBlack: #000000;
$font-family-bold: PTSans-NarrowBold;
$font-family: PTSans-Narrow;
$colorText: #000000;
$fontSize-h2: 30px;
$fontSize-text: 18px;


$tablet-width: 768px;
$desctop-width: 1200px;
